$color-primary:#2b3636;
$color-grey:#4b4b4b;
$color-dark:#2a2a2a;

$transition--standard: 0.15s ease-in-out;

$font-body: "Poppins", "Helvetica Neue", "Noto Sans", "Liberation Sans",
	Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
	"Noto Color Emoji";
