@use "../abstracts/variables";
@use "../abstracts/mixins";

%button {
	text-shadow: none !important;
	@include mixins.border(var(--color-primary));
	background-color: var(--color-primary) !important;
	color: white;
	display: inline-block;
	padding: 0.575em 0.85em;
	font-size: 1em;
	transition: all var(--transition--standard);

	&:hover,
	&:active,
	&:focus {
		@include mixins.dropShadow;
		transform: translateY(-4px);
		background-color: var(--color-primary) !important;
		color: white !important;
	}
}

.button,
[type="submit"],
.llms-button-secondary,
.x-btn {
	@extend %button;
}
