@use "../abstracts/variables";

:root {
	--color-primary: #{variables.$color-primary};
	--color-primary-rgb: 43, 54, 54;
	--color-primary--light: #{variables.$color-primary--light};
	--color-primary--light-rgb: 0, 174, 131;
	--ar-purple: #{variables.$color-ar-purple};
	--ab-506: #{variables.$color-ab-506};
	--color-grey: #{variables.$color-grey};

	--transition--standard: #{variables.$transition--standard};
}

html {
	font-size: 62.5% !important;

	body {
		font-size: 1.6rem;

		a {
			transition: all var(--transition--standard);
		}
	}
}

// TODO: Sort me!
#x-site > main > div > ul > div > li > div > div > div > span {
	margin-bottom: 4em;
}

#x-site > main > div > ul > div > li > a {
	position: absolute;
	bottom: 0;
}
