@use "../abstracts/variables";
@use "../abstracts/mixins";

.llms-loop-item {
	border-radius: 1rem;
	margin-right: 10px;
	margin-bottom: 2em;
	overflow: hidden;
	transition: all var(--transition--standard);
	display: inline-block;

	&:hover {
		@include mixins.dropShadow;
		transform: translateY(-4px);
	}

	&-content {
		margin: 0;

		.llms-loop-link {
			.llms-progress {
				height: 20px;

				.llms-progress-bar {
					height: 20px;
				}
			}

			.llms-loop-title {
				color: var(--color-primary);
			}

			.llms-loop-item-footer {
				.llms-author {
					font-size: 1em;

					.avatar.photo {
						@include mixins.border(var(--color-primary));
						border-radius: 50%;
						height: auto;
						width: 2em;
					}
				}

				.llms-meta {
					font-size: 1em;
				}
			}
		}
	}
}

#cs-content
	> div
	> div
	> div
	> div
	> div
	> div
	> div
	> section.llms-sd-section.llms-my-courses
	> div
	> ul
	> li.llms-loop-item.post-1214.course.type-course.status-publish.has-post-thumbnail.hentry.course_cat-ministry-safety.is-enrolled.is-incomplete {
	margin-top: 0px !important;
}
